{% extends 'base.html' %}

{% block content %}
    <div id="map"></div>
    <div id="basemaps-wrapper" class="leaflet-bar">
        <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
            <option value="Topographic">Topographic</option>
            <option value="Streets">Streets</option>
            <option value="Gray">Gray</option>
            <option value="DarkGray">Dark Gray</option>
            <option value="Imagery">Imagery</option>
            <option value="ShadedRelief">Shaded Relief</option>
        </select>
    </div>

{% endblock content %}