{% extends 'base.html' %}

{% block content %}
    {#    <div class="row">#}
    {#        <div class="col-md-3" style="padding-top: 70px;background-color:darkgreen;padding-bottom:1px;max-width: 100%">#}
    {#            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
    {#                <div class="panel panel-default">#}
    {#                    <div class="panel-heading" role="tab" id="headingOne">#}
    {#                        <h4 class="panel-title">#}
    {#                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"#}
    {#                               aria-expanded="true" aria-controls="collapseOne">#}
    {#                                <div class="list-group">#}
    {#                                    GATE A#}
    {#                                </div>#}
    {#                            </a>#}
    {#                        </h4>#}
    {#                    </div>#}
    {#                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"#}
    {#                         aria-labelledby="headingOne">#}
    {#                        <div class="panel-body">#}
    {#                            <ol style="font-weight: 300;font-size: 26px;line-height: 40px;">#}
    {#                                <li><a href="#">BAHATI HOSTELS</li>#}
    {#                                <li><a href="#">PENIEL HOSTELS</li>#}
    {#                                <li><a href="#">KAWA HOSTELS</li>#}
    {#                                <li><a href="#">PENDI HOSTELS</li>#}
    {#                                <li><a href="#">NJOHAWA HOSTELS</li>#}
    {#                                <li><a href="#">KARIBU HOSTELS</li>#}
    {#                            </ol>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="panel panel-default">#}
    {#                    <div class="panel-heading" role="tab" id="headingTwo">#}
    {#                        <h4 class="panel-title">#}
    {#                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"#}
    {#                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
    {#                                GATE B#}
    {#                            </a>#}
    {#                        </h4>#}
    {#                    </div>#}
    {#                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">#}
    {#                        <div class="panel-body" style="max-width: 70px;border-left-width: 70px">#}
    {#                            GATE B#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="panel panel-default">#}
    {#                    <div class="panel-heading" role="tab" id="headingThree">#}
    {#                        <h4 class="panel-title">#}
    {#                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"#}
    {#                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
    {#                                GATE C#}
    {#                            </a>#}
    {#                        </h4>#}
    {#                    </div>#}
    {#                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"#}
    {#                         aria-labelledby="headingThree">#}
    {#                        <div class="panel-body">#}
    {#                            GATE C#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="calcite-maps calcite-nav-top calcite-layout-large-title">

        <!-- Map Container  -->
        <div class="calcite-map">

            <div id="map" class="calcite-map-absolute">
                <div class="col-md-4"></div>
            </div><!-- /.container -->
        </div>
    </div>

{% endblock content %}